@import '@global-styles-assets/all.scss';

.default {
    position: relative;
    width: max-content;
    min-height: fit-content;
    height: 44px;
    border-radius: 8px;

    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: $blue-color;

    color: $white-color;
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;

    transition: background-color 200ms ease;
    cursor: pointer;

    @include mouse-hover {
        filter: brightness(1.2);
    }

    &:active {
        filter: brightness(0.8);
    }

    &:disabled {
        background-color: $grey-color;
        filter: unset;
        cursor: no-drop;
    }
}
