@import '@global-styles-assets/all.scss';

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window {
    position: relative;
    width: 750px;
    border-radius: 8px;

    border: 1px solid #DEE2E6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
    padding: 36px 40px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: $grey-color;

    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
    }
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    .input {
        width: 100%;
    }
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-end;
    gap: 16px;

    .button {
        min-width: 180px;
    }
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 24px;
    width: auto;
    aspect-ratio: 1;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    cursor: pointer;

    @include mouse-hover {
        filter: brightness(1.05);
    }

    .close-icon {
        height: 10px;
        width: auto;
        aspect-ratio: 1;
        color: #4F4F4F;
    }
}
