@import '@global-styles-assets/all.scss';

.wrapper {
    min-height: fit-content;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
