@import './resetting.scss';

@import './assets/all.scss';
@import './fonts/all.scss';

html {
  &:root {
    --body-color: $white-color;
    --bg-color: $white-color;
    --text-color: $black-color;
  }

  * {
    box-sizing: border-box;

    &::before,
    &::after {
      user-select: none;
    }

    & {
      &::-webkit-scrollbar {
        height: 2px;
        width: 2px;
      }

      &::-webkit-scrollbar-track {
        background: $white-color
      }

      &::-webkit-scrollbar-thumb {
        background-color: $grey-color;

        @include mouse-hover {
          background-color: $blue-color
        }
      }

      @-moz-document url-prefix() {
        scrollbar-color: $grey-color $white-color;
        scrollbar-width: thin;
      }
    }
  }
}

body {
  height: 100dvh;
  min-width: $min-width-device;
  max-width: $max-width-device;
  position: relative;
  font-family: $fonts;
  line-height: normal;
}

div,
section {
  width: 100%;
}

input,
select,
textarea {
  outline: none;
}

button {
  cursor: pointer;
  user-select: none;
}

a {

  &,
  &:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

p,
select,
option {
  overflow: visible;
  display: inline-block;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

@media #{$tablet} {
  p,
  select,
  option {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}
