$black-color: #000;
$white-color: #fff;
$grey-color: #54595E;
$blue-color: #3B75A2;
$red-color: #ff6a00c7;

:export {
    black-color: $black-color;
    white-color: $white-color;
    blue-color: $blue-color;
}
