$black-color: #000;
$white-color: #fff;
$grey-color: #54595E;
$blue-color: #11609d;
$red-color: #ff6a00c7;
$green-color: #33AD31;

:export {
    black-color: $black-color;
    white-color: $white-color;
    blue-color: $blue-color;
    green-color: $green-color;
}
